.version.index /* version checker */
{
    color: #000005;
    background-color: #AB0630;
}

/*.html*/
/*{*/
    /*background-color: #FFFFFF;*/
/*}*/

/*#page*/
/*{*/
    /*z-index: 1;*/
    /*width: 1024px;*/
    /*min-height: 4999.999999999999px;*/
    /*background-image: none;*/
    /*border-style: none;*/
    /*border-color: #000000;*/
    /*background-color: #FFFFFF;*/
    /*padding-bottom: 0px;*/
    /*margin-left: auto;*/
    /*margin-right: auto;*/
/*}*/

/*#page_position_content*/
/*{*/
    /*padding-bottom: 63px;*/
/*}*/

/*#header-wrapper {
    position: relative;
    z-index: 2;
}

#content{
    z-index: 1;
}*/

#footer{
    z-index: 2;
}

.animationContainer {
    display: block;
    margin:0 auto;
}

.pg_our_secret_work_recipe .right-image .last{
    width: 100%;
    padding-right: 0;
}
#u91
{
    z-index: 2;
    width: 3535px;
    border-style: none;
    border-color: transparent;
    padding-bottom: 9px;
    left: -1288px;
    position: relative;
    background: #FFFFFF url("/images/header_bg.jpg") repeat-x left top;
}

#u107
{
    z-index: 4;
    width: 137px;
    background-color: transparent;
    position: relative;
    margin-right: -10000px;
    margin-top: 9px;
    left: 1312px;
}

#u119-4
{
    z-index: 8;
    width: 355px;
    min-height: 7px;
    background-color: transparent;
    line-height: 16px;
    color: #D8D8D8;
    font-size: 13px;
    font-family: Verdana, Tahoma, Geneva, sans-serif;
    position: relative;
    margin-right: -10000px;
    margin-top: 19px;
    left: 1561px;
}

#u113
{
    z-index: 6;
    width: 335px;
    background-color: transparent;
    position: relative;
    margin-right: -10000px;
    margin-top: 14px;
    left: 1956px;
}

#pu98
{
    width: 0.01px;
    margin-left: -1287px;
}

#u98
{
    z-index: 3;
    width: 3534px;
    border-style: none;
    border-color: transparent;
    padding-bottom: 6px;
    position: relative;
    margin-right: -10000px;
    background: #FFFFFF url("/images/menu_bg2.jpg") repeat-x left top;
}

#u121-4
{
    z-index: 12;
    width: 79px;
    min-height: 7px;
    background-color: transparent;
    line-height: 16px;
    color: #D8D8D8;
    font-size: 13px;
    font-family: Verdana, Tahoma, Geneva, sans-serif;
    position: relative;
    margin-right: -10000px;
    margin-top: 6px;
    left: 1310px;
}

#u124-4
{
    z-index: 24;
    width: 89px;
    min-height: 7px;
    background-color: transparent;
    line-height: 16px;
    color: #D8D8D8;
    font-size: 13px;
    font-family: Verdana, Tahoma, Geneva, sans-serif;
    position: relative;
    margin-right: -10000px;
    margin-top: 6px;
    left: 1464px;
}

#u126-4
{
    z-index: 28;
    width: 89px;
    min-height: 7px;
    background-color: transparent;
    line-height: 16px;
    color: #D8D8D8;
    font-size: 13px;
    font-family: Verdana, Tahoma, Geneva, sans-serif;
    position: relative;
    margin-right: -10000px;
    margin-top: 6px;
    left: 1620px;
}

#u127-4
{
    z-index: 32;
    width: 89px;
    min-height: 7px;
    background-color: transparent;
    line-height: 16px;
    color: #D8D8D8;
    font-size: 13px;
    font-family: Verdana, Tahoma, Geneva, sans-serif;
    position: relative;
    margin-right: -10000px;
    margin-top: 6px;
    left: 1747px;
}

#u122-4
{
    z-index: 16;
    width: 89px;
    min-height: 7px;
    background-color: transparent;
    line-height: 16px;
    color: #D8D8D8;
    font-size: 13px;
    font-family: Verdana, Tahoma, Geneva, sans-serif;
    position: relative;
    margin-right: -10000px;
    margin-top: 6px;
    left: 1886px;
}

#u167-4
{
    z-index: 20;
    width: 24px;
    min-height: 7px;
    background-color: transparent;
    line-height: 16px;
    color: #BDBDBD;
    font-size: 13px;
    font-family: Verdana, Tahoma, Geneva, sans-serif;
    position: relative;
    margin-right: -10000px;
    margin-top: 6px;
    left: 2272px;
}

#u128
{
    z-index: 36;
    width: 10px;
    background-color: transparent;
    position: relative;
    margin-right: -10000px;
    left: 1388px;
}

#u134
{
    z-index: 38;
    width: 10px;
    background-color: transparent;
    position: relative;
    margin-right: -10000px;
    left: 1532px;
}

#u137
{
    z-index: 40;
    width: 10px;
    background-color: transparent;
    position: relative;
    margin-right: -10000px;
    left: 1658px;
}

#u151
{
    z-index: 42;
    width: 10px;
    background-color: transparent;
    position: relative;
    margin-right: -10000px;
    left: 1818px;
}

#u163
{
    z-index: 44;
    width: 10px;
    background-color: transparent;
    position: relative;
    margin-right: -10000px;
    left: 1975px;
}

#ppu175
{
    width: 0.01px;
    margin-left: 23px;
    margin-top: 22px;
}

#pu175
{
    width: 0.01px;
    margin-right: -10000px;
}

#u175
{
    z-index: 47;
    width: 202px;
    border-width: 1px;
    border-style: solid;
    border-color: #DDDDDD;
    background-color: #F8F8F8;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    -khtml-border-radius: 10px;
    border-radius: 10px;
    padding-bottom: 13px;
    position: relative;
}

#u179-4
{
    z-index: 54;
    width: 169px;
    min-height: 7px;
    background-color: transparent;
    line-height: 16px;
    color: #333333;
    font-size: 13px;
    font-family: Verdana, Tahoma, Geneva, sans-serif;
    position: relative;
    margin-right: -10000px;
    margin-top: 14px;
    left: 24px;
}

#u182
{
    z-index: 49;
    width: 202px;
    border-width: 1px;
    border-style: solid;
    border-color: #DDDDDD;
    background-color: #F8F8F8;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    -khtml-border-radius: 10px;
    border-radius: 10px;
    padding-top: 13px;
    padding-bottom: 10.199999999999989px;
    margin-top: 21px;
    position: relative;
}

#u181-4
{
    z-index: 62;
    width: 169px;
    min-height: 7px;
    background-color: transparent;
    line-height: 16px;
    color: #333333;
    font-size: 13px;
    font-family: Verdana, Tahoma, Geneva, sans-serif;
    margin-left: 24px;
    position: relative;
}

#u184
{
    z-index: 52;
    width: 202px;
    height: 1px;
    -pie-box-shadow: 0px 1px 0px #FFFFFF;
    -moz-box-shadow: 0px 1px 0px #FFFFFF;
    -webkit-box-shadow: 0px 1px 0px -1px #FFFFFF;
    box-shadow: 0px 1px 0px #FFFFFF;
    border-style: none;
    border-color: transparent;
    background-color: #D9D8D8;
    margin-top: 8px;
    position: relative;
}

#u188-4
{
    z-index: 70;
    width: 169px;
    min-height: 7px;
    background-color: transparent;
    line-height: 16px;
    color: #333333;
    font-size: 13px;
    font-family: Verdana, Tahoma, Geneva, sans-serif;
    margin-left: 24px;
    margin-top: 11px;
    position: relative;
}

#u189
{
    z-index: 50;
    width: 202px;
    border-width: 1px;
    border-style: solid;
    border-color: #DDDDDD;
    background-color: #F8F8F8;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    -khtml-border-radius: 10px;
    border-radius: 10px;
    padding-top: 13px;
    padding-bottom: 10.199999999999932px;
    margin-top: 21px;
    position: relative;
}

#u192-4
{
    z-index: 66;
    width: 169px;
    min-height: 7px;
    background-color: transparent;
    line-height: 16px;
    color: #333333;
    font-size: 13px;
    font-family: Verdana, Tahoma, Geneva, sans-serif;
    margin-left: 24px;
    position: relative;
}

#u191
{
    z-index: 53;
    width: 202px;
    height: 1px;
    -pie-box-shadow: 0px 1px 0px #FFFFFF;
    -moz-box-shadow: 0px 1px 0px #FFFFFF;
    -webkit-box-shadow: 0px 1px 0px -1px #FFFFFF;
    box-shadow: 0px 1px 0px #FFFFFF;
    border-style: none;
    border-color: transparent;
    background-color: #D9D8D8;
    margin-top: 8px;
    position: relative;
}

#u190-4
{
    z-index: 74;
    width: 169px;
    min-height: 7px;
    background-color: transparent;
    line-height: 16px;
    color: #333333;
    font-size: 13px;
    font-family: Verdana, Tahoma, Geneva, sans-serif;
    margin-left: 24px;
    margin-top: 11px;
    position: relative;
}

#u196
{
    z-index: 48;
    width: 202px;
    border-width: 1px;
    border-style: solid;
    border-color: #DDDDDD;
    background-color: #F8F8F8;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    -khtml-border-radius: 10px;
    border-radius: 10px;
    padding-bottom: 13px;
    margin-top: 21px;
    position: relative;
}

#u195-4
{
    z-index: 58;
    width: 169px;
    min-height: 7px;
    background-color: transparent;
    line-height: 16px;
    color: #333333;
    font-size: 13px;
    font-family: Verdana, Tahoma, Geneva, sans-serif;
    position: relative;
    margin-right: -10000px;
    margin-top: 14px;
    left: 24px;
}

#u169
{
    z-index: 46;
    width: 704px;
    border-width: 1px;
    border-style: solid;
    border-color: #DDDDDD;
    background-color: #F8F8F8;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    -khtml-border-radius: 10px;
    border-radius: 10px;
    margin-bottom: -1px;
    position: relative;
    margin-right: -10000px;
    left: 226px;
    padding: 13px 24px 60px;
}

#u197
{
    z-index: 78;
    width: 304px;
    background-color: transparent;
    margin-left: 200px;
    position: relative;
}

#u177
{
    z-index: 51;
    width: 704px;
    height: 1px;
    -pie-box-shadow: 0px 1px 0px #FFFFFF;
    -moz-box-shadow: 0px 1px 0px #FFFFFF;
    -webkit-box-shadow: 0px 1px 0px -1px #FFFFFF;
    box-shadow: 0px 1px 0px #FFFFFF;
    border-style: none;
    border-color: transparent;
    background-color: #D9D8D8;
    margin-top: 11px;
    position: relative;
}

#u220
{
    z-index: 124;
    width: 560px;
    height: 435px;
    background-color: transparent;
    margin-left: 113px;
    margin-top: 25px;
    position: relative;
}

#u204-4
{
    z-index: 81;
    width: 671px;
    min-height: 88px;
    background-color: transparent;
    line-height: 20px;
    color: #333333;
    font-size: 12px;
    font-family: Verdana, Tahoma, Geneva, sans-serif;
    margin-top: 30px;
    position: relative;
}

#u203
{
    z-index: 80;
    width: 560px;
    height: 435px;
    background-color: transparent;
    margin-left: 113px;
    margin-top: 56px;
    position: relative;
}

#u205-4
{
    z-index: 85;
    width: 671px;
    min-height: 69px;
    background-color: transparent;
    line-height: 20px;
    color: #333333;
    font-size: 12px;
    font-family: Verdana, Tahoma, Geneva, sans-serif;
    margin-top: 31px;
    position: relative;
}

#u213
{
    z-index: 117;
    width: 560px;
    height: 435px;
    background-color: transparent;
    margin-left: 113px;
    margin-top: 58px;
    position: relative;
}

#u206-4
{
    z-index: 89;
    width: 671px;
    min-height: 56px;
    background-color: transparent;
    line-height: 20px;
    color: #333333;
    font-size: 12px;
    font-family: Verdana, Tahoma, Geneva, sans-serif;
    margin-top: 30px;
    position: relative;
}

#u214
{
    z-index: 118;
    width: 560px;
    height: 435px;
    background-color: transparent;
    margin-left: 113px;
    margin-top: 59px;
    position: relative;
}

#u207-4
{
    z-index: 93;
    width: 671px;
    min-height: 95px;
    background-color: transparent;
    line-height: 20px;
    color: #333333;
    font-size: 12px;
    font-family: Verdana, Tahoma, Geneva, sans-serif;
    margin-top: 30px;
    position: relative;
}

#u215
{
    z-index: 119;
    width: 560px;
    height: 435px;
    background-color: transparent;
    margin-left: 113px;
    margin-top: 58px;
    position: relative;
}

#u208-4
{
    z-index: 97;
    width: 671px;
    min-height: 56px;
    background-color: transparent;
    line-height: 20px;
    color: #333333;
    font-size: 12px;
    font-family: Verdana, Tahoma, Geneva, sans-serif;
    margin-top: 30px;
    position: relative;
}

#u219
{
    z-index: 123;
    width: 560px;
    height: 435px;
    background-color: transparent;
    margin-left: 113px;
    margin-top: 57px;
    position: relative;
}

#u209-4
{
    z-index: 101;
    width: 671px;
    min-height: 62px;
    background-color: transparent;
    line-height: 20px;
    font-size: 12px;
    font-family: Verdana, Tahoma, Geneva, sans-serif;
    margin-top: 30px;
    position: relative;
}

#u216
{
    z-index: 120;
    width: 560px;
    height: 435px;
    background-color: transparent;
    margin-left: 113px;
    margin-top: 46px;
    position: relative;
}

#u210-4
{
    z-index: 105;
    width: 671px;
    min-height: 76px;
    background-color: transparent;
    line-height: 20px;
    font-size: 12px;
    font-family: Verdana, Tahoma, Geneva, sans-serif;
    margin-top: 30px;
    position: relative;
}

#u217
{
    z-index: 121;
    width: 560px;
    height: 435px;
    background-color: transparent;
    margin-left: 113px;
    margin-top: 60px;
    position: relative;
}

#u211-4
{
    z-index: 109;
    width: 671px;
    min-height: 58px;
    background-color: transparent;
    line-height: 20px;
    font-size: 12px;
    font-family: Verdana, Tahoma, Geneva, sans-serif;
    margin-top: 33px;
    position: relative;
}

#u218
{
    z-index: 122;
    width: 560px;
    height: 435px;
    background-color: transparent;
    margin-left: 113px;
    margin-top: 55px;
    position: relative;
}

#U228_animation,#U252_animation,#U236_animation,#U256_animation,#U248_animation,#U232_animation,#U240_animation,#U224_animation,#U244_animation
{
    width: 560px;
    height: 435px;
    border: none;
}

#u212-4
{
    z-index: 113;
    width: 671px;
    min-height: 79px;
    background-color: transparent;
    line-height: 20px;
    font-size: 12px;
    font-family: Verdana, Tahoma, Geneva, sans-serif;
    margin-top: 33px;
    position: relative;
}

#u260-4
{
    z-index: 125;
    width: 99px;
    min-height: 22px;
    background-color: transparent;
    color: #ED1C24;
    position: relative;
    margin-right: -10000px;
    margin-top: 9px;
    left: 755px;
}

/*body*/
/*{*/
    /*position: relative;*/
    /*min-width: 1024px;*/
/*}*/

/*#page .verticalspacer*/
/*{*/
    /*clear: both;*/
/*}*/

@media screen and (max-width: 980px){
    #u220, #u203, #u213, #u214, #u215, #u216, #u217, #u218, #u219{margin-left: 21.5%;}
    #u204-4, #u205-4, #u206-4, #u207-4, #u208-4, #u209-4, #u210-4, #u211-4, #u212-4{width: 100%;}
}
@media screen and (max-width: 800px){
    #u220, #u203, #u213, #u214, #u215, #u216, #u217, #u218, #u219{margin-left: 0;}
}
@media screen and (max-width: 980px){
    #u220, #u203, #u213, #u214, #u215, #u216, #u217, #u218, #u219{margin-left: 21.5%;}
    #u204-4, #u205-4, #u206-4, #u207-4, #u208-4, #u209-4, #u210-4, #u211-4, #u212-4{width: 100%;}
}
@media screen and (max-width: 800px){
    #u220, #u203, #u213, #u214, #u215, #u216, #u217, #u218, #u219{margin-left: 5%;}
}